SPRING_DATASOURCE_URL=jdbc:mysql://localhost:3307/ShopApp?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
MYSQL_ROOT_PASSWORD=Abc123456789@
REDIS_HOST=localhost
REDIS_PORT=6379
KAFKA_BROKER_SERVER=localhost
KAFKA_BROKER_PORT=9092
GOOGLE_REDIRECT_URI=http://localhost:4300/auth/google/callback
FACEBOOK_REDIRECT_URI=http://localhost:4300/auth/facebook/callback
VNPAY_RETURN_URI=http://localhost:4200/payments/payment-callback
